<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
</head>
<body>
	<span th:each=animale:${animali}> <a th:text="${animale.nome}"
		th:href="@{'/animale' + '/' + ${animale.id}}" href="animale.html"></a>
		
		<a href="animale.html"
		th:href="@{'/admin/toDeleteAnimale' + '/' + ${animale.id}}"
		th:text=Rimuovi>Rimuovi</a>
		
		<a href="animale.html"
		th:href="@{'/admin/animale/edit' + '/' + ${animale.id}}"
		th:text="Modifica">Modifica</a>
		<br></br>
	</span>
	<br></br>
	<br></br>
	<a th:href="@{/}" th:text="Home"></a>
</body>
</html>