<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
</head>
<body>
	<a th:href="@{/admin/animale}" th:text="'aggiungi' + ' ' + 'animale'"></a>
	<a th:href="@{/animali}" th:text="'lista' + ' ' + 'animali'"></a>
	<br></br>
	<a th:href="@{/admin/specie}"
		th:text="'aggiungi' + ' ' + 'specie'"></a>
	<a th:href="@{/species}" th:text="'lista' + ' ' + 'specie'"></a>
	<br></br>
	<a th:href="@{/admin/ambiente}" th:text="'aggiungi' + ' ' + 'ambiente'"></a>
	<a th:href="@{/ambienti}" th:text="'lista' + ' ' + 'ambienti'"></a>
	<br></br>
</body>
</html>